@font-face {
    font-family: 'SF Pro Regular';
    src: local('SF Pro Text Regular'), local('SF-Pro-Text-Regular'),
        url('SF-Pro-Text-Regular.woff2') format('woff2'),
        url('SF-Pro-Text-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}